  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap');
*{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(136, 132, 132, 0.432);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
                                        /* container design */
.container{
    outline: inset 10px;
    outline-offset: 10px;
    border-radius: 30px;
    background:rgba(20, 145, 161, 0.384);
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
                                        /* designing heading part */
.headingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headingContainer>h1{
    
    font-size: 3em;
}
.headingContainer>p{
    font-size: 1.5em;
}
.headingContainer>button{
    margin: 2em;
}
                                        /* designing result part */
.resultContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#diceResult{
    margin:.5em 0;
    font-size: 2em;
}
                                            /* designing the result animation */
.diceAnimation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#left-dice,#right-dice{
    margin: 1em 2em;
    border-radius: 10px;
    box-shadow: inset 0 0 0 15px;
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
}
#left-dice>img,#right-dice>img{
    display: none;
    height: inherit;
    width: inherit;
}
.rotate{
    animation: rotate 400ms linear;
}
@keyframes rotate{
    0%{rotate: 0deg;box-shadow: 0 0 50px 0 rgb(201, 32, 20);}
    100%{transform:rotate3d(1,1,1,360deg);box-shadow: 0 0 50px 0 rgb(168, 23, 18);}

}
                                            /* Button Animation */

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 50%;
  position: relative;
  transition: .3s;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-25%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

@media screen and (max-width:650px) {
    #left-dice,#right-dice{
        height: 100px;
        width: 100px;
    }
    .headingContainer>h1{
        font-size: 2em;
    }
    .headingContainer>p{
        font-size: 1.2em;
    }
    #diceResult{
        font-size: 1.3em;
    }
}